doctype html
html(lang="en")
  head
    title Click To Call Metalab

    // We use Twitter Bootstrap as the default styling for our page
    link(rel='stylesheet',
      href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet',
      href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')

    // Include CSS for our third-party telephone input jQuery plugin
    link(rel='stylesheet', href='/vendor/intl-phone/css/intlTelInput.css')
  body
    .container
      h1 Click To Call Your MEP
      p.
        Call an MEP now! Just enter your phone number and you will receive a call and get connected to an MEP of your choice.

      select#meplist
        option(value='+43720002323') Metalab

      hr

      // C2C contact form
      .row
        .col-md-12
          form(id='contactForm', role='form')
            .form-group
              input.form-control(type='text', id='phoneNumber')
            button(type='submit', class='btn btn-default') Contact MEP

    // Include page dependencies
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/vendor/intl-phone/js/intlTelInput.min.js')

    // Our app's front-end JavaScript logic
    script(src='/app.js')
