extends ./layout.jade

block content
  .container
    h1 Click To Call Your MEP
    p.
      Call an MEP now! Just enter your phone number and you will receive a call and get connected to an MEP of your choice.

    include ./mepbox.jade
