doctype html
html(lang="en")
  head
    title Click To Call Your MEP

    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/assets/style.css')
  body
    block content
    
    script(src='/app.js')
