body { font-family: 'Nimbus Sans L', 'Helvetica Neue', Helvetica, sans-serif; }
hr { border: solid 1px #eee; }
h1, h2, p, form { margin: 5px 0; }

#mepbox {
  max-width: 750px;
  background-color: #eee;
  overflow: hidden;
  border-radius: 4px;
  position: relative;
}

#mepinfos {
  padding: 10px 20px;
}

#mepphoto  {
  float: right;
  margin: -5px 0 5px 0;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 5px solid #ddd;
  background: center no-repeat;
}

#meplist {
  background: none;
  border: none;
  border-bottom: 1px solid #ccc;
  -webkit-appearance:none;
  -moz-appearance: none;
  appearance:none;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  width: 750px;
}

#dropdown-arrow {
  pointer-events: none;
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 32px;
}

#phoneNumber {
  margin-right: 20px;
}

#phoneButton {
  border: 1px solid #4cae4c;
  background-color: #5cb85c;
  color: white;
  padding: 10px 16px;
  border-radius: 4px;
}

#about, #about > * {
  font-size: 12px;
  color: #aaa;
  clear: both;
}
